### Q1

Name the four built-in data structures in python. Give one examples for each

List
Set
Dictionary
Tuple

### Q2

State two differences between a list and a tuple in Python.

1. A list is mutable, which means it can be modified. A tuple is immutable, which means it cannot be modified once it is created
2. Lists consume more memory. A tuple consume less memory compared to list

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [34]:
# Create a list of five animals
animal_list=['Tiger','Lion','Monkey','Goat','Dog']
animal_list

['Tiger', 'Lion', 'Monkey', 'Goat', 'Dog']

In [35]:
#First 2 animals
animal_list[0:2]

['Tiger', 'Lion']

In [36]:
#Last 2 animals
animal_list[3:]

['Goat', 'Dog']

In [37]:
# Add 3 more animals to list
animal_list.extend(['Cat','Cow','Sheep'])

In [38]:
# print animal_list
animal_list

['Tiger', 'Lion', 'Monkey', 'Goat', 'Dog', 'Cat', 'Cow', 'Sheep']

In [39]:
# delete the first 2 animals on list
del animal_list[0:2]
animal_list

['Monkey', 'Goat', 'Dog', 'Cat', 'Cow', 'Sheep']

In [40]:
# find the number on animals on list
len(animal_list)

6

In [41]:
# create a set from the animal list
animal_set=set(animal_list)

In [42]:
# print animal_set
animal_set

{'Cat', 'Cow', 'Dog', 'Goat', 'Monkey', 'Sheep'}

In [43]:
# find the number of items on animal_set
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [44]:
#create the  list suitcase
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [45]:
# slice the first 2 items in list
first=suitcase[0:2]
first

['sunglasses', 'hat']

In [46]:
# slice the middle 2 items in list
middle=suitcase[2:4]
middle

['passport', 'laptop']

In [47]:
# slice the last 2 items in list
last=suitcase[4:]
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [48]:
# Create values list
values = [20,25,30,40,45,50,55,60,65,70]

In [49]:
# Insert 35 into the 3rd position
values.insert(3,35)

#print values
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

When you want to store data that does not change over time.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [51]:
# Create dictionary  "region_capital"
region_capital={'Western':'Sekodi Takoradi','Central':'Cape Coast','West North':'Bibiani','Ashanti':'Kumasi','Eastern':'Koforidua'}

#Print region_capital
region_capital

{'Western': 'Sekodi Takoradi',
 'Central': 'Cape Coast',
 'West North': 'Bibiani',
 'Ashanti': 'Kumasi',
 'Eastern': 'Koforidua'}

In [52]:
#Print out the keys of region_capital
region_capital.keys()

dict_keys(['Western', 'Central', 'West North', 'Ashanti', 'Eastern'])

In [54]:
#Print out the values of region_capital
region_capital.values()

dict_values(['Sekodi Takoradi', 'Cape Coast', 'Bibiani', 'Kumasi', 'Koforidua'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [2]:
#Create the values list
values = [3,3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

In [58]:
#What is the total number of elements in values

len(values)

16

In [3]:
#What is the highest occuring number in the values variable?
print(max(values,key=values.count))

3

In [59]:
#Convert values into a set and store it into a variable named values_set
values_set=set(values)

In [60]:
#How many elements are in the variable values_set?
values_set

{1, 2, 3, 4, 5, 6}

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [5]:
#Create a key list using for loop
keys = [i for i in range(1, 16)]

#Create a values list using for loop
values = [x ** 2 for x in range(1, 16)]

#map the index of keys and values to create a dictionary
dct = dict(zip(keys, values))

#print out dictionary
print(dct)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [6]:
# View objects in dictionary
dct.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225)])

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [76]:
# Create a dictionary using range()

dict_list ={'x': list(range(11,21)),'y':list(range(21,31)),'z':list(range(31,41))}

#print out dictionary
dict_list

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}

In [80]:
# find the 5 value for each key in dictionary
for key, values in dict_list.items():
    print(f"{key}: {values[4]}")

x: 15
y: 25
z: 35